@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.main{
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-position: center;
    
}

.container{
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);     border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 15px;
    padding: 30px;
    color: white;
    padding: 15px;
    margin: 20px;
    height: 400px;
    width: 400px;
}

.contador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}
#relogio{
    transform: scale(2.5);
    color: rgba(20, 148, 139, 0.875);
    margin: 10px;
    cursor: default;
    transition: color 0.5s ease-in-out;
}
#relogio.modo-descanso{
    color: rgb(159, 159, 61);
}
#reset{
    height: 40px;
    width: 50%;
    border-radius: 20px;
    border: NONE;
    background-color: rgb(151, 14, 14);
}
#reset:hover{
    background-color: rgb(244, 11, 15);
    border: 1px solid rgb(3, 20, 30);
    transition: backgr;
}
#startButton{
    margin: 10px;
    height: 40px;
    width: 50%;
    border-radius: 20px;
    border: NONE;
    background-color: rgb(74, 185, 111);
}
#startButton:hover{
    background-color: rgb(11, 154, 99);
    border: 1px solid rgb(3, 20, 30);
    transition: backgr;
}
.modal.ativo{
    display: flex;
}
#modal{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    min-height: 220px;
    padding: 25px;
    border-radius: 20px;
    background: rgba(15, 15, 15, 0.98); 
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
}
@keyframes entrar {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


body {
    animation: entrar 0.6s ease-out;
}
#mensagem-erro{
    display: none;
}
.exp{
    display: flex;
    gap: 4px;
}